<div class="navlinks">
  <a href="/<%= params[:account_id] %>/" class="active">All</a>
  <a href="/">No SKU</a>
</div>
<div class="entitytable">
  <table>
    <thead style="border-bottom: 1px solid #c2c2c2;">
      <tr class="tablehead">
        <th>Quantity</th>
        <th>Name</th>
        <th>Cash(Credit)</th>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody class="striped">
      <% @entities.each do |c| %>
        <tr>
          <td style="padding-left: 20px;"><%= c.quantity %></td>
          <td><%= c.name %></td>
          <td>$<%= currency(c.cash_price) %>($<%= currency(c.credit_price) %>)</td>
          <td><%= c.user_id %></td>
          <td><%= c.created_at.strftime("%m-%d-%Y") %></td>
          <td style="text-align: right; padding-right: 15px;">
            <a href="/print/<%= c.id %>">
              <i class="fa fa-eye"></i>
            </a>
            |
            <a href="/remove/<%= c.id %>"><i class="fa fa-times-circle" style="color: #FF7070;"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>