<div class="header">
  <h1><i class="fa fa-qrcode" style="color: #428bca;"></i> QRCode Generator</h1>
</div>
<div class="qrtable">
  <table>
    <thead style="border-bottom: 1px solid #c2c2c2;">
      <tr>
        <th>Quantity</th>
        <th>Name</th>
        <th>Sku</th>
        <th>Cash price</th>
        <th>Credit price</th>
        <th>Purchase ID</th>
      </tr>
    </thead>
    <tbody>
      <% @qrcodes.each do |c| %>
        <tr>
          <td><%= c.quantity %></td>
          <td><%= c.name %></td>
          <td><%= c.sku %></td>
          <td><%= c.cash_price %></td>
          <td><%= c.credit_price %></td>
          <td><%= c.purchase_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>