<div class="qrtable">
  <table>
    <thead style="border-bottom: 1px solid #c2c2c2;">
      <tr class="tablehead">
        <th>Quantity</th>
        <th>Name</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody class="striped">
      <% @qrcodes.each do |c| %>
        <tr>
          <td style="padding-left: 20px;"><%= c.quantity %></td>
          <td><%= c.name %></td>
          <td><%= c.user %></td>
          <td style="text-align: right; padding-right: 15px;">
            <a href="/print/<%= c.id %>">
              <i class="fa fa-eye"></i>
            </a>
            |
            <a href="/remove/<%= c.id %>"><i class="fa fa-times-circle" style="color: #FF7070;"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>