<style>
* {
  font-family: Arial !important;
  text-align: center;
}

small {
  font-size: 60%;
  color: #cccccc;
  font-style: oblique;
}

h5 {
  font-size: 20px;
}


.text {
  font-weight: normal;
}

.name, .price, .notes, .user, .date, .codes {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 5px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

</style>
<div class="info clearfix">
  <div class="name">
    <h1><%= @qrcode.name %> <small>(<%= @qrcode.sku %>) Qty: <%= @qrcode.quantity %></small></h1>
  </div>
  <div class="date">
    <h1><%= @qrcode.created_at.strftime("%m-%d-%Y") %></h1>
  </div>
  <div class="price">
    <% if @qrcode.cash_price != 0 and @qrcode.credit_price != 0 %>
      <h5>Cash price: <%= @qrcode.cash_price %></h5>
      <hr noshade color="#b5b5b5">
      <h5>Credit price: <%= @qrcode.credit_price %></h5>
    <% else %>
      <% if @qrcode.credit_price != 0 %>
        <h5>Credit price: <%= @qrcode.credit_price %></h5>
      <% else %>
        <h5>Cash price: <%= @qrcode.cash_price %></h5>
      <% end %>
    <% end %>
  </div>
  <% if @qrcode.notes.blank? %>
  <% else %>
  <div class="notes">
    <h4>Notes: <span class="text"><%= @qrcode.notes %></span></h4>
  </div>
  <% end %>
  <div class="user">
    <h4>Employee: <%= @qrcode.user %></h4>
  </div>
  <div class="codes">
    <h2>*insert QR and barcodes here*</h2>
  </div>
</div>