<style type="text/css">
.display {
  background-color: #ffffff;
  margin-top: 20px;
  width: 65%;
  border-radius: 5px;
  border: 2px solid #b5b5b5;
}
.display, .price, .notes {
  margin-right: auto;
  margin-left: auto;
}

.display h1 {
  font-size: 35px;
  text-align: center;
  padding: 5px;
}

small {
  font-size: 60%;
  color: #b5b5b5;
  font-style: oblique;
}

.item_info {
  padding: 20px;
}

h5 {
  font-size: 20px;
  text-align: center;
}

.date {
  font-size: 95%;
  font-style: oblique;
}

.price, .notes {
  background-color: #fcfcfc;
  padding: 20px;
  width: 50%;
  border: 1px solid #b5b5b5;
}

.notes {
  margin-top: 20px;
}

.quantity {
  text-align: left !important;
  color: #b5b5b5;
}

.top {
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 35px;
}

.codes {
  text-align: center;
  padding: 10px;
}

</style>
<div class="display">
  <span class="quantity">Qty: <%= @qrcode.quantity %></span>
  <div class="top">
    <span><%= @qrcode.name %></span>
    <span><small>(<%= @qrcode.sku %>)</small></span>
  </div>
  <h5 class="date"><%= @qrcode.created_at.strftime("%m-%d-%Y") %></h5>
  <div class="item_info">
    <h5 class="price">
      Cash price: <%= @qrcode.cash_price %>
      <hr noshade color="#b5b5b5">
      Credit price: <%= @qrcode.credit_price %>
    </h5>
    <div class="notes">
     <h5>Notes</h5>
     <hr noshade color="#b5b5b5">
     <p class="details">
      <%= @qrcode.notes %>
     </p>
    </div>
    <div class="notes">
      <h5>Employee</h5>
      <hr noshade color="#b5b5b5">
      <p><%= @qrcode.user %></p>
    </div>
  </div>
  <div class="codes">
    <p>*Insert QR and barcode here*</p>
  </div>
</div>
  <% if params[:print] %>
  <% else %>
  <div style="text-align: center; padding: 20px; margin-top: 15px;">
    <a href="/print/<%= @qrcode.id %>/?print=true" style="color: #ffffff; background-color: #428bca; padding: 15px; border-radius: 15px; width: 100px;" class="print">
      <i class="fa fa-print"></i> Print
    </a>
  </div>
  <% end %>
</div>
