<div class="display">
  <span class="quantity">Qty: <%= @qrcode.quantity %></span>
  <div class="top">
    <span><%= @qrcode.name %></span>
    <% if @qrcode.sku.blank? %>
    <% else %>
    <span><small>(<%= @qrcode.sku %>)</small></span>
    <% end %>
  </div>
  <h5 class="date"><%= @qrcode.created_at.strftime("%m-%d-%Y") %></h5>
  <div class="item_info">
    <div class="price">
      <% if @qrcode.cash_price != 0 and @qrcode.credit_price != 0 %>
        <h5>Cash price: $<%= currency(@qrcode.cash_price) %></h5>
        <hr noshade color="#b5b5b5">
        <h5>Credit price: $<%= currency(@qrcode.credit_price) %></h5>
      <% else %>
        <% if @qrcode.credit_price != 0 %>
          <h5>Credit price: $<%= currency(@qrcode.credit_price) %></h5>
        <% else %>
          <h5>Cash price: $<%= (@qrcode.cash_price) %></h5>
        <% end %>
      <% end %>
    <% if @qrcode.notes.blank? %>
    <% else %>
  </div>
    <div class="notes">
     <h5>Notes</h5>
     <hr noshade color="#b5b5b5">
     <p class="details">
      <%= @qrcode.notes %>
     </p>
    </div>
    <% end %>
  </div>
  <div class="notes user">
    <h5>Employee</h5>
    <hr noshade color="#b5b5b5">
    <p><%= @qrcode.user %></p>
  </div>
  <div>
  </div>
   <% if params[:print] %>
  <% else %>
  <div class="printbtn">
    <a href="/print/<%= @qrcode.id %>/?print=true" class="print">
      <i class="fa fa-print"></i> Print
    </a>
  </div>
  <% end %>
</div>

</div>
